.idea
*.iml
/target
/src/main/webapp/node_modules
/src/main/webapp/package-lock.json
/src/main/resources/static/built
/loaders/googlesheets/out
/loaders/googlesheets/.gradle
/loaders/googlesheets/err.txt
/loaders/googlesheets/output.txt
main.log